@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<nav class="navbar navbar-expand-sm bg-light-subtle">

    <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="https://riveron.com/" target="_blank" class="nav-link">Riveron</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>
        <div class="navbar-nav">
        <img src="images/riveron_logo_new.jpg" class="logo" alt="Logo" />
        <h1 class="welcome-title">Riveron Regional Training 2026</h1>
        </div>
       </div>

</nav>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
