@page "/"

<h1>Welcome</h1>
<img src="images/riveron_logo_new.jpg" alt="Home Image" style="max-width: 100%; height: auto;" />
<PageTitle>Home</PageTitle>

<h1>Riveron Escape Room!</h1>

Welcome to your new app.

<WebEscapeRoom.Components.Demos.TextInputDemo />
