@page "/"

<div class="home-background">
    <img src="images/riveron_logo_new.jpg" alt="Home Image" style="max-width: 100%; height: auto;" />
    <h1 class="welcome-title">Riveron Regional Training 2026</h1>
    <PageTitle>Home</PageTitle>

    <WebEscapeRoom.Components.Demos.TextInputDemo />
</div>