@page "/"

<PageTitle>Home</PageTitle>
<WebEscapeRoom.Components.Common.HoverText ButtonText="Read Me" RevealText="Riveronions" />

<div class="home-background">
    <WebEscapeRoom.Components.Passcodes.R0_Passcode />
</div>
